html,
body {
     height: 100%;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#map {
     height: 20vh;
     width: 100vw;
     /* float: right; */
}

#search-bar {
     height: 100vh;
     /* width: 30%; */
     /* float: left; */
}

.input-container {
     background-color: #282c34;
     padding: 10px 5px;
}

.input-container input {
     /* border: 1px solid lawngreen; */
}

.filterIcon {
     position: absolute;
     /* top: 0; */
     right: 1px;
     display: inline-block;
     background-size: 30px 30px;
     height: 35px;
     width: 35px;
     padding: 10px;
     background-color: #fff0;
     /* I dont really like that icon */
     background-image: url(./imgs/icons/search.png);
     background-position: center;
     background-repeat: no-repeat;
     border: 0;
}

.venue-header {
     font-size: 3vw;
     color: #0275d8;
}

.venue-text {
     font-size: 2vw;
}

.App {
     text-align: center;
}

.App-logo {
     animation: App-logo-spin infinite 20s linear;
     height: 100%;
}

.App-header {
     background-color: #282c34;
     height: 50px;
     font-size: calc(10px + 2vmin);
     color: white;
     text-align: center;
}

.App-link {
     color: #61dafb;
}

.title {
     width: 100%;
}

#container {
     display: flex;
     flex-direction: column;
}

ul {
     background-color: #f3f3f3;
}

li {
     display: flex;
     flex-direction: row;
     margin-bottom: .5em;
     background: #fff;
     align-content: space-between;
}

/* //image container */

.venue-image {
     /* width: 25vw; */
}

.venue-image img {
     /* width: 100%; */
     height: 100%;
     border: 2px solid salmon;
}

.venue-info {
     display: flex;
     flex-direction: column;
     border: 1px solid purple;
     /* max-width: 75vw; */
     width: 100%;
}

button {
     background-color: #0275d8;
     border-bottom: 3px solid #eee;
     border-radius: 5px;
     font-size: 12px;
     cursor: pointer;
     color: #fff;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     align-self: center;
}

button:hover {
     background-color: #3397DB;
}

@keyframes App-logo-spin {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(360deg);
     }
}

@media screen and (max-width: 1024px) {
     .App-header {
          height: 75px;
          font-size: calc(10px + 3vmin);
     }
}

@media screen and (max-width: 450px) {
     .venue-header {
          font-size: 4vw;
     }
     .venue-text {
          font-size: 3vw;
     }
}

@media screen and (min-width: 1024px) {
     .App-header {
          height: 75px;
          font-size: calc(10px + 4vmin);
     }
}